@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #231f2b;
  }
  
  div.calculator {
    box-sizing: border-box;
    background-color: #4c4b6a;
    border-radius: 10px;
    margin: 0px auto;
    width: 20%;
    min-width: 320px;
    
    height: auto;
    padding:5px;
  }

  .grid-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  button {
    background-color: #2d2838;
    color:whitesmoke;
    font-weight: 600;
    font-size: 24px;
    border: none;
    aspect-ratio: 1 / 1;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin: 5px; 
    cursor: pointer;
    transition: 0.2s;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button:hover {
    background-color: #423c50;
    transition: all 150ms ease;
  }

  button:active {
    background-color: #6d6383;
    transition: all 150ms ease;
  }
  
  button:focus {
    outline: none;
  }
  
  textarea {
    font-family: "Montserrat", sans-serif; 
    color: white;
    box-sizing: border-box;
    padding-top: 50px;
    margin: 0px auto;
    font-size: 32px;
    min-height: 80px;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: right;
    vertical-align: bottom;
    resize: none;
  }
  textarea:focus-visible{
    outline: none;
  }
  

  .top-operands{
    background-color: #626084;
  }
  .top-operands:hover{
    background-color: #9390c7;
  }
  .top-operands:active{
    background-color: #626084;
  }

  .side-operands{
    background-color: #7e7da8;
  }
  .side-operands:hover{
    background-color: #b2b1d6;
  }
  .side-operands:active{
    background-color: #595887;
  }

  @media(max-width:700px){
    button:hover{
      background-color: #2d2838;
    }
    .side-operands:hover{
      background-color: #7e7da8;
    }
    .top-operands:hover{
      background-color: #626084;
    }
  }